modules/escalation/statemachine.asl.json
{
  "Comment": "Watch per-incident escalation timeline (ADR-001/007). One Standard execution per incident. Each tier is a waitForTaskToken (record_token persists the token+SLA) -> Choice on the human/auto outcome -> a commit task (the single writer of the Transition, via incidents.services). Manual actor flows in via SendTaskSuccess output ($.decision.actor); timeouts commit with actor=system:auto-escalation. ${...function_arn} are rendered by the escalation stack (locally: record_token / commit, routed by the lambda shim).",
  "StartAt": "T1_Wait",
  "States": {
    "T1_Wait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 900,
      "Parameters": {
        "FunctionName": "${record_token_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "tier": "T1", "taskToken.$": "$$.Task.Token"}
      },
      "ResultPath": "$.decision",
      "Catch": [{"ErrorEquals": ["States.Timeout"], "ResultPath": "$.error", "Next": "T1_AutoCommit"}],
      "Next": "T1_Choice"
    },
    "T1_Choice": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.decision.outcome", "StringEquals": "RESOLVE", "Next": "ResolveCommit"}],
      "Default": "T1_EscalateCommit"
    },
    "T1_EscalateCommit": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${commit_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "action": "ESCALATE", "actor.$": "$.decision.actor"}
      },
      "ResultPath": "$.commit",
      "Next": "T2_Wait"
    },
    "T1_AutoCommit": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${commit_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "action": "ESCALATE", "actor": "system:auto-escalation"}
      },
      "ResultPath": "$.commit",
      "Next": "T2_Wait"
    },

    "T2_Wait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 1800,
      "Parameters": {
        "FunctionName": "${record_token_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "tier": "T2", "taskToken.$": "$$.Task.Token"}
      },
      "ResultPath": "$.decision",
      "Catch": [{"ErrorEquals": ["States.Timeout"], "ResultPath": "$.error", "Next": "T2_AutoCommit"}],
      "Next": "T2_Choice"
    },
    "T2_Choice": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.decision.outcome", "StringEquals": "RESOLVE", "Next": "ResolveCommit"}],
      "Default": "T2_EscalateCommit"
    },
    "T2_EscalateCommit": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${commit_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "action": "ESCALATE", "actor.$": "$.decision.actor"}
      },
      "ResultPath": "$.commit",
      "Next": "T3_Wait"
    },
    "T2_AutoCommit": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${commit_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "action": "ESCALATE", "actor": "system:auto-escalation"}
      },
      "ResultPath": "$.commit",
      "Next": "T3_Wait"
    },

    "T3_Wait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "TimeoutSeconds": 3600,
      "Parameters": {
        "FunctionName": "${record_token_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "tier": "T3", "taskToken.$": "$$.Task.Token"}
      },
      "ResultPath": "$.decision",
      "Catch": [{"ErrorEquals": ["States.Timeout"], "ResultPath": "$.error", "Next": "EscalationExhausted"}],
      "Next": "T3_Choice"
    },
    "T3_Choice": {
      "Type": "Choice",
      "Choices": [{"Variable": "$.decision.outcome", "StringEquals": "RESOLVE", "Next": "ResolveCommit"}],
      "Default": "EscalationExhausted"
    },

    "ResolveCommit": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${commit_function_arn}",
        "Payload": {"incidentId.$": "$.incidentId", "action": "RESOLVE", "actor.$": "$.decision.actor"}
      },
      "ResultPath": "$.commit",
      "Next": "Resolved"
    },

    "Resolved": {
      "Type": "Succeed",
      "Comment": "RESOLVE committed; token consumed (ADR-007). Clean, inspectable terminal — no zombie timer."
    },
    "EscalationExhausted": {
      "Type": "Fail",
      "Error": "EscalationExhausted",
      "Cause": "T3 SLA elapsed with no resolution. A missed escalation is a failed execution -> CloudWatch alarm (ADR-001)."
    }
  }
}
